<h2 class="mb-5">All links sorted by you</h2>

<div class="row">
    <div class="col-md-12 mx-auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Acronym</th>
                    <th width="60%">Redirect to</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each urls}}
                <tr>
                    <td>
                        <a href="/{{this.acronym}}">{{this.acronym}}</a>
                    </td>
                    <td>{{this.redirectTo}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="/{{this._id}}/edit">Edit</a>

                            <form action="/shortlink" method="POST">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_id" value="{{this._id}}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>